//
// Animations
//
%animate-spin {
  animation-name: spin;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

%animate-blink {
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes showModal {
  from {
    top: -100%;
  }
  to {
    top: 50%;
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
