//
// MAIN
//
main.dashboard {
  bottom: 0;
  left: 7rem;
  overflow-y: scroll;
  padding-top: $toolbar_height;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.profile.page, .create.page, .settings.page {
  margin: 3rem;
}

.report.page, .invoice.page {
  margin: 8rem;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    position: relative
  }

  &.golden-ratio {
    .left.column {
      flex-basis: 33%;
      padding-right: 3rem;
    }

    .right.column {
      flex-basis: 67%;
      height: calc(100vh - 9rem);
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.box {
  background-color: color(neutral, 100);
  padding: 2rem;
}

.box + .box {
  margin-top: 2rem;
}
