@import '_variables';
@import '_animations';
@import '_html';
@import '_forms';
@import '_layout';
@import '_ui';
@import 'profile';
@import 'card';

//
// HEADER
//
header.search {
  @extend %clearfix;
  background-color: darken(color(neutral, 200), 3%);
  border-bottom: 1px solid darken(color(neutral, 200), 8%);
  height: 5rem;
  padding: 0;

  > input {
    background: transparent;
    border: none;
    color: color(neutral, 500);
    float: left;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.5rem 2rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    width: 50%;
  }

  input::-webkit-input-placeholder {
    color: lighten(color(neutral, 500), 20%);
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  }

  .actions {
    float: right;
    padding: 1.2rem 2rem 0;
    text-align: right;

    button {
      margin-top: 0;
    }
  }
}

header.title {
  height: 5rem;

  h1 {
    float: left;
  }

  .actions {
    float: right;
    padding-top: .8rem;
  }
}

//
// LISTS
//
.list {
  &.masonry {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.thirds {
      li {
        flex: 0 0 33%;
        margin: $item_spacing;
      }
    }
  }

  &.clickable {
    li {
      cursor: pointer;

      &:hover {
        background: transparentize(color(blue, 500), 0.95);
        border: 1px solid #fff;
      }

      &:active {
        background: transparentize(color(blue, 500), 0.7);
      }

      &.active {
        background: transparentize(color(green, 500), 0.8);
        border-color: #fff;
      }
    }
  }
}

.item {
  @extend %clearfix;
  background: #fff;
  color: color(neutral, 200);
  display: flex;
  flex-direction: row;
  margin: 0 0 1px 0;
  overflow: hidden;
  position: relative;

  &.round {
    border-radius: 3px;
  }

  &.tracked {
    background: transparentize(color(green, 500), 0.9);
    border-color: #fff;
  }

  &.untracked {
    .actions button {
      opacity: .2;
    }

    &:hover .actions button {
      opacity: .7;
    }
  }

  &.action {
    box-shadow: none;
    clear: both;

    button {
      width: 100%;
    }
  }

  .title {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6em;
    padding: 1.5rem 0;

    strong {
      font-weight: 500;
    }
  }

  .actions {
    min-width: 9rem;
    padding: .8rem 0 0 1.5rem;

    button {
      animation: fadeIn 0.5s;
      background: transparent;
      border: none;
      margin: .5rem 1rem 0 0;
      opacity: .7;
      padding: 0;
      transition: .3s;
      width: 2.5rem;

      svg {
        cursor: pointer;
        fill: lighten(color(neutral, 500), 15%);
        height: auto;
        width: 100%;
      }

      &:hover {
        opacity: 1;
        transform: scale(1.2);
      }

      &.active svg {
        fill: color(neutral, 500);
      }

      &.confirm svg {
       fill: color(green, 500);
      }

      &.cancel svg {
        fill: color(red, 500);
      }
    }
  }

  .confirm.overlay {
    animation: slideRight 0.5s;
    background: lighten(color(yellow, 500), 40%);
    bottom: 0;
    color: darken(color(yellow, 500), 25%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

//
// BOARD
//
.swimlane {
  background: #fbf9f4;
  color: color(neutral, 500);
  flex: 1;
  height: calc(100vh - 3.7rem);
  padding: 1.5rem 1%;
  position: relative;

  &.backlog {
    background-color: transparentize(color(pink, 500), 0.95);
    color: color(pink, 500);

    .card header {
      background-color: transparentize(color(pink, 500), 0.9);
      color: color(pink, 500);
    }

    header svg {
      fill: color(pink, 500);
    }
  }

  &.sprint {
    background-color: transparentize(color(cyan, 500), 0.95);
    color: color(cyan, 500);

    .card header {
      background-color: transparentize(color(cyan, 500), 0.9);
      color: color(cyan, 500);
    }

    header svg {
      fill: color(cyan, 500);
    }
  }

  &.started {
    background-color: transparentize(color(orange, 500), 0.95);
    color: color(orange, 500);

    .card header {
      background-color: transparentize(color(orange, 500), 0.9);
      color: color(orange, 500);
    }

    header svg {
      fill: color(orange, 500);
    }
  }

  &.review {
    background-color: transparentize(color(purple, 500), 0.95);
    color: color(purple, 500);

    .card header {
      background-color: transparentize(color(purple, 500), 0.9);
      color: color(purple, 500);
    }

    header svg {
      fill: color(purple, 500);
    }
  }

  &.complete {
    background-color: transparentize(color(green, 500), 0.95);
    color: color(green, 500);

    .card header {
      background-color: transparentize(color(green, 500), 0.9);
      color: color(green, 500);
    }

    header svg {
      fill: color(green, 500);
    }
  }

  &.dragging-over {
    background: #f5e8c2;
  }

  big {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    font: 1.8rem $font_header;
    justify-content: space-between;
    text-transform: capitalize;

    i {
      font-size: 1.2rem;
      text-transform: lowercase;
    }
  }

  .inner {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding: 4% 4% 10rem 4%;
    position: absolute;
    right: 0;
    top: 4rem;

    &::-webkit-scrollbar {
      background: transparent;
      width: 0px;
    }
  }
}

//
// SETTINGS PAGE
//
section.settings {
  header {
    @extend %clearfix;
  }

  h1 {
    float: left;
  }

  .page.actions {
    float: right;
    padding-top: .3rem;
  }
}

//
// WELCOME PAGE
//
main.welcome {
  header {
    background: color(neutral, 900);
    border-bottom: 1px solid color(neutral, 500);
    box-shadow: inset -5px 0 5px rgba(0, 0, 0, 0.5);
    padding: 4rem;
    text-align: center;

    svg {
      max-width: 30rem;
      width: 90%;
    }
  }

  .large.button {
    margin: 4rem auto;
  }

  section {
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 10%;
    width: 80%;
  }
}


//
// HELP MENU
//
aside.help {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 0;
  z-index: 500;

  &::before {
    backdrop-filter: blur(4px);
    background-color: transparentize(color(neutral, 500), .9);
    bottom: 0;
    content: ' ';
    left: -100vw;
    opacity: 0;
    position: absolute;
    transition: opacity .3s;
    right: 0;
    top: 0;
  }

  .drawer {
    background: lighten(color(neutral, 200), 5%);
    box-shadow: 0 0 20px darken(color(neutral, 200), 8%);
    height: 100vh;
    left: calc(-40vw + 7rem);
    padding: 10rem 14rem;
    position: relative;
    transition: left .3s;
    width: 40vw;
    z-index: 501;
  }

  .toggle {
    background-color: darken(color(neutral, 200), 5%);
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    bottom: 2.3rem;
    cursor: pointer;
    height: 5rem;
    padding: 1.5rem;
    position: absolute;
    right: -5rem;
    width: 5rem;

    svg {
      fill: color(neutral, 500);
      opacity: .5;
      transition: opacity, transform .3s;
      width: 100%;
    }

    &:hover {
      svg {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }

  &.active {
    opacity: 1;
    width: 100vw;

    .drawer {
      left: 0;
    }

    .toggle {
      background-color: lighten(color(neutral, 200), 5%);
    }

    &::before {
      left: 0;
      opacity: 1;
    }
  }
}
