//
// BOARD
//
section.board {
  > header {
    background-color: darken(color(neutral, 200), 3%);
    border-bottom: 1px solid darken(color(neutral, 200), 8%);
  }

  header.filter {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    padding: 0 1.5rem;

    p {
      margin: 0;
      padding: 0;
    }

    .field {
      margin: 0 0 0 1.5rem;

      select {
        border-bottom: 2px solid #fff;
      }

      span { 
        display: none;
      }
    }
  }

  header.search {
    @extend %clearfix;
    height: 5rem;
    padding: 0;
  
    > input {
      background: transparent;
      border: none;
      color: color(neutral, 500);
      float: left;
      font-size: 1.5rem;
      font-weight: 300;
      padding: 1.5rem;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
      width: 50%;
    }
  
    input::-webkit-input-placeholder {
      color: lighten(color(neutral, 500), 20%);
      font-size: 1.5rem;
      font-weight: 300;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    }
  
    .actions {
      float: right;
      padding: 1.2rem 2rem 0;
      text-align: right;
  
      button {
        margin-top: 0;
      }
    }
  }
}

.swimlane {
  background: #fbf9f4;
  color: color(neutral, 500);
  flex: 1;
  height: calc(100vh - 3.7rem);
  padding: 1.5rem;
  position: relative;

  &.backlog {
    background-color: transparentize(color(pink, 500), 0.95);
    color: color(pink, 500);

    .card header {
      background-color: transparentize(color(pink, 500), 0.9);
      color: color(pink, 500);
    }

    header svg {
      fill: color(pink, 500);
    }
  }

  &.sprint {
    background-color: transparentize(color(cyan, 500), 0.95);
    color: color(cyan, 500);

    .card header {
      background-color: transparentize(color(cyan, 500), 0.9);
      color: color(cyan, 500);
    }

    header svg {
      fill: color(cyan, 500);
    }
  }

  &.started {
    background-color: transparentize(color(orange, 500), 0.95);
    color: color(orange, 500);

    .card header {
      background-color: transparentize(color(orange, 500), 0.9);
      color: color(orange, 500);
    }

    header svg {
      fill: color(orange, 500);
    }
  }

  &.review {
    background-color: transparentize(color(purple, 500), 0.95);
    color: color(purple, 500);

    .card header {
      background-color: transparentize(color(purple, 500), 0.9);
      color: color(purple, 500);
    }

    header svg {
      fill: color(purple, 500);
    }
  }

  &.complete {
    background-color: transparentize(color(green, 500), 0.95);
    color: color(green, 500);

    .card header {
      background-color: transparentize(color(green, 500), 0.9);
      color: color(green, 500);
    }

    header svg {
      fill: color(green, 500);
    }
  }

  &.dragging-over {
    background: #f5e8c2;
  }

  big {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    font: 1.8rem $font_header;
    justify-content: space-between;
    text-transform: capitalize;
    white-space: nowrap;

    b button {
      color: inherit;
      cursor: pointer;
      font-size: 2rem;
      margin-left: 1rem;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.5);
      }
    }

    i {
      font-size: 1.2rem;
      text-transform: lowercase;
    }
  }

  .inner {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding: 1.5rem 1.5rem 10rem 1.5rem;
    position: absolute;
    right: 0;
    top: 4rem;

    &::-webkit-scrollbar {
      background: transparent;
      width: 0px;
    }
  }
}

.swimlane.collapsed {
  max-width: 18rem;

  big i {
    display: none;
  }

  .card {
    min-height: auto;

    header {
      padding: .5rem 1.5rem;
    }

    button, .description {
      display: none;
    }
  }
}