.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px transparentize(color(neutral, 500), .8), 0 5px 5px transparentize(color(neutral, 500), .9);
  cursor: move;
  margin: $item_spacing;
  min-height: 8rem;
  overflow: hidden;
  position: relative;
  transition: box-shadow .3s;
  width: 100%;

  &:hover {
    box-shadow: 0 1px 1px transparentize(color(neutral, 500), .7), 0 5px 5px transparentize(color(neutral, 500), 0.8);

    footer {
      height: 4.2rem;
    }
  }

  &.dragging {
    box-shadow: 0 2px 3px transparentize(color(neutral, 500), 0.9), 0 8px 8px transparentize(color(neutral, 500), 0.5);
  }

  &.active {
    footer {
      height: 4.2rem;

      button {
        opacity: 1;
      }

      .counter {
        @extend %animate-blink;
      }
    }
  }

  header, .description, .labels, footer {
    padding: 3% 4%;
  }

  header {
    align-items: center;
    background: lighten(color(neutral, 200), 5%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font: 400 1.2rem/1.8rem $font_condensed;
    justify-content: space-between;
    height: 4.2rem;

    strong {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    svg {
      height: 1rem;
    }

    .field {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin: 0;

      .header {
        padding: 0 2rem 0 0;
      }
    }

    .type {
      width: 1rem;
    }
    
    .priority {
      svg {
        height: 1.2rem;
      }
    }

    .points, .priority, .type, .close {
      cursor: pointer;
      margin-left: 1.2rem;
    }

    .priority-2 {
      svg {
        fill: color(yellow, 600) !important;
      }
    }

    .priority-3 {
      svg {
        fill: color(neutral, 500) !important;
      }
    }

    .close {
      svg {
        height: 2.4rem;
      }
    }
  }

  .description {
    color: color(neutral, 500);
    display: block;
    padding: 0;
    position: relative;

    p {
      font: 400 1.3rem/1.8rem $font_body;
      padding: 1.5rem 4%;
    }
  }

  .tracked {
    border-bottom: 1px solid color(neutral, 200);
    color: darken(color(neutral, 200), 20%);
    display: flex;
    flex-direction: row;
    font-family: $font_condensed;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: .7rem 4%;
    text-transform: uppercase;
  }

  .label {
    background: color(neutral, 200);
    border-radius: 1px;
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font: 400 1rem $font_condensed;
    margin: 0 .4rem 0 0;
    padding: .3rem .5rem;
    text-transform: uppercase;
  }

  footer {
    align-items: center;
    background: lighten(color(neutral, 200), 4%);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: row;
    height: 0;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 1rem;
    text-align: left;
    transition: height .3s;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      display: block;
      height: 2.6rem;
      margin: .8rem 0;
      opacity: .4;
      padding: 0;
      transition: opacity .3s;
      width: 2.6rem;

      &:hover {
        opacity: .8;
      }

      svg {
        fill: color(neutral, 500);
        height: 56px;
        stroke: color(neutral, 200);
        width: 56px;
      }
    }

    .counter {
      color: color(neutral, 500);
      font: 1.2rem $font_monospace;
      padding-left: 1rem;
    }
  }
}

.timer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
