# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
fliz/
flizpv/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

#*.exe
*.test
*.prof
*.go1
*.html-1


# IDE's and OS junk and such
.tags*
.DS_Store
.env
server
*.out

.vscode/
debug