//
// LAYOUT
//
$size_100: 1rem;
$size_200: 1.2rem;
$size_300: 1.3rem;
$size_400: 1.4rem;
$size_500: 1.6rem;
$size_600: 1.8rem;
$size_700: 2rem;
$size_800: 2.4rem;
$size_900: 3rem;

$padding_100: .2rem;
$padding_200: .6rem;
$padding_300: 1.2rem;
$padding_400: 1.8rem;
$padding_500: 2rem;
$padding_600: 3.2rem;
$padding_700: 5.5rem;
$padding_800: 6.8rem;
$padding_900: 9rem;

$item_spacing: 0 0 1rem 0;
$toolbar_height: 3.7rem;

//
// TYPOGRAPHY
//
$font_condensed: 'Roboto Condensed', sans-serif;
$font_header: 'Nunito', sans-serif;
$font_body: 'Roboto', sans-serif;
$font_monospace: 'Cutive Mono', monospace;

$link_normal: color(primary, 500);
$link_hover: color(primary, 700);

//
// FORMS
//
$input_background: color(neutral, 100);
$input_font: 400 1.4rem $font_body;
$input_letter_spacing: .05em;
$input_color: color(neutral, 500);
$input_border_bottom: 2px solid color(neutral, 700);
$input_padding: $padding_300;
$input_spacing: $padding_600 0;

//
// HELPERS
//
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$palettes: (
  blue: (
    500: hsl(208, 50%, 47%)
  ),

  red: (
    500: hsl(0, 50%, 47%)
  ),

  teal: (
    500: hsl(161, 39%, 51%),
    700: hsl(161, 39%, 30%),
  ),

  pink: (
    500: hsl(303, 66%, 64%)
  ),

  cyan: (
    500: hsl(190, 53%, 53%)
  ),

  yellow: (
    500: hsl(51, 88%, 50%)
  ),

  green: (
    500: hsl(98, 59%, 45%)
  ),

  purple: (
    500: hsl(268, 66%, 51%)
  ),

  orange: (
    500: hsl(20, 94%, 52%)
  ),

  neutral: (
    100: hsl(43, 47%, 97%),
    200: hsl(40, 35%, 93%),
    500: hsl(37, 17%, 52%),
    700: hsl(37, 17%, 30%),
    900: hsl(38, 37%, 10%),
  ),

  primary: (
    500: hsl(161, 39%, 51%),
    700: hsl(161, 39%, 30%),
  ),
);


@function color($color,$tone) {
  @warn map-get($palettes,$color);

  @if map-has-key($palettes,$color){
    $color: map-get($palettes,$color);

    @if map-has-key($color,$tone){
      $tone: map-get($color,$tone);
      @return $tone;
    }

    @warn "unknown tone `#{$tone}` in color";
    @return null;
  }

  @warn "unknown color `#{$color}` in palette";
  @return null;
}
