@import 'constants';
@import 'motion';
@import 'html';
@import 'forms';
@import 'layout';
@import 'ui';
@import 'profile';

//
// HEADER
//
header.search {
  @extend %clearfix;
  background-color: darken($eggshell, 3%);
  border-bottom: 1px solid darken($eggshell, 8%);
  height: 5rem;
  padding: 0;

  > input {
    background: transparent;
    border: none;
    color: $brown;
    float: left;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2.5rem 2rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    width: 50%;
  }

  input::-webkit-input-placeholder {
    color: lighten($brown, 20%);
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  }

  .actions {
    float: right;
    padding: 1.2rem 2rem 0;
    text-align: right;

    button {
      margin-top: 0;
    }
  }
}

header.title {
  height: 5rem;

  h1 {
    float: left;
  }

  .actions {
    float: right;
    padding-top: .8rem;
  }
}

//
// LISTS
//
.list {
  &.masonry {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.thirds {
      li {
        flex: 0 0 33%;
        margin: $item_spacing;
      }
    }
  }

  &.clickable {
    li {
      cursor: pointer;

      &:hover {
        background: transparentize($blue, 0.95);
        border: 1px solid #fff;
      }

      &:active {
        background: transparentize($blue, 0.7);
      }

      &.active {
        background: transparentize($green, 0.8);
        border-color: #fff;
      }
    }
  }
}

.item {
  @extend %clearfix;
  background: #fff;
  color: $eggshell;
  display: flex;
  flex-direction: row;
  margin: 0 0 1px 0;
  overflow: hidden;
  position: relative;

  &.round {
    border-radius: 3px;
  }

  &.tracked {
    background: transparentize($green, 0.9);
    border-color: #fff;
  }

  &.untracked {
    .actions button {
      opacity: .2;
    }

    &:hover .actions button {
      opacity: .7;
    }
  }

  &.action {
    box-shadow: none;
    clear: both;

    button {
      width: 100%;
    }
  }

  .title {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6em;
    padding: 1.5rem 0;

    strong {
      font-weight: 500;
    }
  }

  .actions {
    min-width: 9rem;
    padding: .8rem 0 0 1.5rem;

    button {
      animation: fadeIn 0.5s;
      background: transparent;
      border: none;
      margin: .5rem 1rem 0 0;
      opacity: .7;
      padding: 0;
      transition: .3s;
      width: 2.5rem;

      svg {
        cursor: pointer;
        fill: lighten($brown, 15%);
        height: auto;
        width: 100%;
      }

      &:hover {
        opacity: 1;
        transform: scale(1.2);
      }

      &.active svg {
        fill: $brown;
      }

      &.confirm svg {
       fill: $green;
      }

      &.cancel svg {
        fill: $red;
      }
    }
  }

  .confirm.overlay {
    animation: slideRight 0.5s;
    background: lighten($yellow, 40%);
    bottom: 0;
    color: darken($yellow, 25%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

//
// BOARD
//
.swimlane {
  background: #fbf9f4;
  color: $brown;
  flex: 1;
  height: calc(100vh - 3.7rem);
  padding: 1.5rem 1%;
  position: relative;

  &.backlog {
    background-color: transparentize($pink, 0.95);
    color: $pink;

    .card header {
      background-color: transparentize($pink, 0.9);
      color: $pink;
    }

    header svg {
      fill: $pink;
    }
  }

  &.sprint {
    background-color: transparentize($cyan, 0.95);
    color: $cyan;

    .card header {
      background-color: transparentize($cyan, 0.9);
      color: $cyan;
    }

    header svg {
      fill: $cyan;
    }
  }

  &.started {
    background-color: transparentize($orange, 0.95);
    color: $orange;

    .card header {
      background-color: transparentize($orange, 0.9);
      color: $orange;
    }

    header svg {
      fill: $orange;
    }
  }

  &.review {
    background-color: transparentize($purple, 0.95);
    color: $purple;

    .card header {
      background-color: transparentize($purple, 0.9);
      color: $purple;
    }

    header svg {
      fill: $purple;
    }
  }

  &.complete {
    background-color: transparentize($green, 0.95);
    color: $green;

    .card header {
      background-color: transparentize($green, 0.9);
      color: $green;
    }

    header svg {
      fill: $green;
    }
  }

  &.dragging-over {
    background: #f5e8c2;
  }

  big {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    font: 1.8rem $font_header;
    justify-content: space-between;
    text-transform: capitalize;

    i {
      font-size: 1.2rem;
      text-transform: lowercase;
    }
  }

  .inner {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding: 4% 4% 10rem 4%;
    position: absolute;
    right: 0;
    top: 4rem;

    &::-webkit-scrollbar {
      background: transparent;
      width: 0px;
    }
  }
}

.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px transparentize($brown, .8), 0 5px 5px transparentize($brown, .9);
  cursor: move;
  margin: $item_spacing;
  min-height: 8rem;
  overflow: hidden;
  position: relative;
  transition: box-shadow .3s;
  width: 100%;

  &:hover {
    box-shadow: 0 1px 1px transparentize($brown, .7), 0 5px 5px transparentize($brown, 0.8);

    footer {
      height: 4.2rem;
    }
  }

  &.dragging {
    box-shadow: 0 2px 3px transparentize($brown, 0.9), 0 8px 8px transparentize($brown, 0.5);
  }

  &.active {
    footer {
      height: 4.2rem;

      button {
        opacity: 1;
      }

      .counter {
        @extend %animate-blink;
      }
    }
  }

  header, .description, .labels, footer {
    padding: 3% 4%;
  }

  header {
    align-items: center;
    background: lighten($eggshell, 5%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font: 400 1.2rem/1.8rem $font_condensed;
    justify-content: space-between;
    height: 4.2rem;

    strong {
      overflow: hidden;
      padding-left: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80%;

      svg {
        height: 1.2rem;
        left: 0;
        position: absolute;
        top: 1.6rem;
      }
    }

    svg {
      height: 1rem;
    }
  }

  .description {
    color: $brown;
    display: block;
    padding: 0;

    p {
      font: 400 1.3rem/1.8rem $font_body;
      padding: 1.5rem 4%;
    }
  }

  .tracked {
    border-bottom: 1px solid $eggshell;
    color: darken($eggshell, 20%);
    display: flex;
    flex-direction: row;
    font-family: $font_condensed;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: .7rem 4%;
    text-transform: uppercase;
  }

  .label {
    background: $eggshell;
    border-radius: 1px;
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font: 400 1rem $font_condensed;
    margin: 0 .4rem 0 0;
    padding: .3rem .5rem;
    text-transform: uppercase;
  }

  footer {
    align-items: center;
    background: lighten($eggshell, 4%);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: row;
    height: 0;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 1rem;
    text-align: left;
    transition: height .3s;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      display: block;
      height: 2.6rem;
      margin: .8rem 0;
      opacity: .4;
      padding: 0;
      transition: opacity .3s;
      width: 2.6rem;

      &:hover {
        opacity: .8;
      }

      svg {
        fill: $brown;
        height: 56px;
        stroke: $eggshell;
        width: 56px;
      }
    }

    .counter {
      color: $brown;
      font: 1.2rem $font_monospace;
      padding-left: 1rem;
    }
  }
}

.timer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

//
// SETTINGS PAGE
//
section.settings {
  header {
    @extend %clearfix;
  }

  h1 {
    float: left;
  }

  .page.actions {
    float: right;
    padding-top: .3rem;
  }
}

//
// WELCOME PAGE
//
main.welcome {
  header {
    background: $dark_brown;
    border-bottom: 1px solid $brown;
    box-shadow: inset -5px 0 5px rgba(0, 0, 0, 0.5);
    padding: 4rem;
    text-align: center;

    svg {
      max-width: 30rem;
      width: 90%;
    }
  }

  .large.button {
    margin: 4rem auto;
  }

  section {
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 10%;
    width: 80%;
  }
}


//
// HELP MENU
//
aside.help {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 0;
  z-index: 500;

  &::before {
    backdrop-filter: blur(4px);
    background-color: transparentize($brown, .9);
    bottom: 0;
    content: ' ';
    left: -100vw;
    opacity: 0;
    position: absolute;
    transition: opacity .3s;
    right: 0;
    top: 0;
  }

  .drawer {
    background: lighten($eggshell, 5%);
    box-shadow: 0 0 20px darken($eggshell, 8%);
    height: 100vh;
    left: -36vw;
    padding: 10rem 14rem;
    position: relative;
    transition: left .3s;
    width: 40vw;
    z-index: 501;
  }

  .toggle {
    background-color: darken($eggshell, 5%);
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    bottom: 2.3rem;
    cursor: pointer;
    height: 5rem;
    padding: 1.5rem;
    position: absolute;
    right: -5rem;
    width: 5rem;

    svg {
      fill: $brown;
      opacity: .5;
      transition: opacity, transform .3s;
      width: 100%;
    }

    &:hover {
      svg {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }

  &.active {
    opacity: 1;
    width: 100vw;

    .drawer {
      left: 0;
    }

    .toggle {
      background-color: lighten($eggshell, 5%);
    }

    &::before {
      left: 0;
      opacity: 1;
    }
  }
}
