@import 'constants';
@import 'motion';
@import 'html';
@import 'forms';
@import 'layout';
@import 'ui';
@import 'profile';

//
// HEADER
//
header.search {
  @extend %clearfix;
  background-color: darken($eggshell, 3%);
  height: 5rem;
  padding: 0;

  > input {
    background: transparent;
    border: none;
    color: $brown;
    float: left;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2.5rem 2rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    width: 50%;
  }

  input::-webkit-input-placeholder {
    color: lighten($brown, 20%);
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  }

  .actions {
    float: right;
    padding: 1.2rem 2rem 0;
    text-align: right;
  }
}

header.title {
  height: 5rem;

  h1 {
    float: left;
  }

  .actions {
    float: right;
    padding-top: .8rem;
  }
}

//
// MAIN
//
main.dashboard {
  bottom: 0;
  left: 7rem;
  overflow-y: scroll;
  padding-top: 3.5rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  section.page {
    margin: 3rem;
  }
}

//
// LISTS
//
.list {
  &.table {
    li {
      border-bottom: 1px solid;
      margin: $item_spacing;
    }
  }

  &.masonry {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.thirds {
      li {
        flex: 0 0 33%;
        margin: $item_spacing;
      }
    }
  }

  &.clickable {
    li {
      cursor: pointer;

      &:hover {
        background: transparentize($blue, 0.95);
        border: 1px solid #fff;
      }

      &:active {
        background: transparentize($blue, 0.7);
      }

      &.active {
        background: transparentize($green, 0.8);
        border-color: #fff;
      }
    }
  }
}

.item {
  @extend %clearfix;
  background: #fff;
  color: $eggshell;
  display: flex;
  flex-direction: row;
  margin: 0 0 1px 0;
  overflow: hidden;
  position: relative;

  &.round {
    border-radius: 3px;
  }

  &.tracked {
    background: transparentize($green, 0.9);
    border-color: #fff;
  }

  &.untracked {
    .actions button {
      opacity: .2;
    }

    &:hover .actions button {
      opacity: .7;
    }
  }

  &.action {
    box-shadow: none;
    clear: both;

    button {
      width: 100%;
    }
  }

  .title {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6em;
    padding: 1.5rem 0;

    strong {
      font-weight: 500;
    }
  }

  .actions {
    min-width: 9rem;
    padding: .8rem 0 0 1.5rem;

    button {
      animation: fadeIn 0.5s;
      background: transparent;
      border: none;
      margin: .5rem 1rem 0 0;
      opacity: .7;
      padding: 0;
      transition: .3s;
      width: 2.5rem;

      svg {
        cursor: pointer;
        fill: lighten($brown, 15%);
        height: auto;
        width: 100%;
      }

      &:hover {
        opacity: 1;
        transform: scale(1.2);
      }

      &.active svg {
        fill: $brown;
      }

      &.confirm svg {
       fill: $green;
      }

      &.cancel svg {
        fill: $red;
      }
    }
  }

  .confirm.overlay {
    animation: slideRight 0.5s;
    background: lighten($yellow, 40%);
    bottom: 0;
    color: darken($yellow, 25%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

//
// BOARD
//
.swimlane {
  background: #fbf9f4;
  border-top: 2px solid;
  color: $brown;
  flex: 1;
  height: calc(100vh - 8.5rem);
  padding: 1rem 1rem;
  position: relative;

  &.backlog {
    background-color: transparentize($pink, 0.95);
    color: $pink;
  }

  &.sprint {
    background-color: transparentize($cyan, 0.95);
    color: $cyan;
  }

  &.started {
    background-color: transparentize($orange, 0.95);
    color: $orange;
  }

  &.review {
    background-color: transparentize($purple, 0.95);
    color: $purple;
  }

  &.complete {
    background-color: transparentize($green, 0.95);
    color: $green;
  }

  &.dragging-over {
    background: #f5e8c2;
  }

  big {
    display: block;
    font: 1.8rem $font_header;
    text-transform: capitalize;
  }

  .inner {
    position: absolute;
    top: 4rem;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 1.2rem;

    &::-webkit-scrollbar {
      background: transparent;
      width: 0px;
    }
  }
}

.card {
  background: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: move;
  display: flex;
  flex-direction: column;
  margin: $item_spacing;
  overflow: hidden;
  position: relative;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

    .bar {
      height: 4.2rem;
    }
  }

  &.dragging {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }

  &.active {
    .bar {
      height: 4.2rem;

      button {
        opacity: 1;
      }

      .counter {
        color: darken($eggshell, 25%);
      }
    }
  }

  .meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 9rem;
    padding: 1rem 1.2rem;
    width: 100%;

    .header {
      @extend %clearfix;
      color: $brown;
      font: 500 1.3rem/1.8rem $font_condensed;
      display: block;
      padding-bottom: .5rem;
    }

    .description {
      color: lighten($brown, 10%);
      display: block;
      font: 300 1.1rem/1.6rem $font_condensed;
      padding-bottom: .8rem;
    }

    .label {
      background: $eggshell;
      border-radius: 1px;
      color: rgba(0, 0, 0, 0.4);
      display: inline-block;
      font: 400 1rem $font_condensed;
      margin: 0 .4rem 0 0;
      padding: .3rem .5rem;
      text-transform: uppercase;
    }
  }

  .tracked {
    color: $teal;
    font: 1.2rem $font_monospace;
    position: absolute;
    right: 1rem;
    top: .5rem;
  }

  .bar {
    align-items: center;
    background: lighten($eggshell, 5%);
    display: flex;
    flex-direction: row;
    height: 0;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 1rem;
    text-align: left;
    transition: height .3s;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      display: block;
      height: 2.6rem;
      margin: .8rem 0;
      opacity: .4;
      padding: 0;
      transition: opacity .3s;
      width: 2.6rem;

      &:hover {
        opacity: .8;
      }

      svg {
        fill: $brown;
        height: 56px;
        width: 56px;
      }
    }

    .counter {
      color: darken($eggshell, 15%);
      font: 1.2rem $font_monospace;
      padding-left: 1rem;
    }
  }
}

.timer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

//
// SETTINGS PAGE
//
section.settings {
  header {
    @extend %clearfix;
  }

  h1 {
    float: left;
  }

  .page.actions {
    float: right;
    padding-top: .3rem;
  }
}

//
// WELCOME PAGE
//
main.welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
  max-width: 140rem;
  width: 96%;

  .left, .right {
    max-width: 50%;
  }

  .left {
    text-align: center;
  }

  .button {
    display: inline-block;
    margin: 3rem 0 0;
  }

  .logo {
    display: block;
    width: 250px;
  }
}
