//
// COLORS
//
$blue: #3C7CB3;
$orange: #F85E10;
$purple: #7C30D4;
$green: #5FB42F;
$yellow: #F0CF0F;
$cyan: #48B1C6;
$teal: #51B294;
$red: #B33C3C;
$pink: #E068DB;
$eggshell: #F4F0E8;
$creme: #fbf9f4;
$brown: #99896F;
$dark_brown: #231c10;

$font_condensed: 'Roboto Condensed', sans-serif;
$font_header: 'Nunito', sans-serif;
$font_body: 'Roboto', sans-serif;
$font_monospace: 'Cutive Mono', monospace;

$link_normal: $teal;
$link_hover: darken($teal, 15%);


//
// LAYOUT
//
$item_spacing: 0 0 .5rem 0;

//
// HELPERS
//
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
