.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
  }

  &.golden-ratio {

    .left.column {
      flex-basis: 30%;
    }

    .right.column {
      flex-basis: 66%;
    }
  }
}
