.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    position: relative
  }

  &.golden-ratio {
    .left.column {
      flex-basis: 33%;
      padding-right: 3rem;
    }

    .right.column {
      flex-basis: 67%;
    }
  }
}
